/* Ajusta o tamanho da logo no header */
.md-header__button.md-logo img {
  height: 2rem;  /* Valor padrão é 1.2rem. Aumente conforme necessário */
  width: auto;
}

/* Ajusta o tamanho da logo na barra lateral (drawer) */
.md-nav__button.md-logo img {
  height: 4rem;
  width: auto;
}